.port_box {
    background-color: var(--color-primary);
}

.portfolio_cards {
    margin: 0 auto;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact_container {
    margin-left: 15rem;
    background: transparent;
    /* border: 2px solid #00FF00; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* =====================
Media Query (MEDUIUM DEVICES)
===================== */

@media screen and (max-width:1024px) {
    .contact_container {
        margin-left: 0;
        gap: 1rem;
        padding: 2rem;
    }


}

/* =====================
Media Query (small DEVICES)
===================== */

@media screen and (max-width:600px) {
    .contact_container {
        grid-template-columns: 1fr;
    }

    .contact {
        display: block;
        margin: 0 auto;
    }

    .form {
        display: block;
        margin: 0 auto;
    }
}